%% -*- mode: erlang; -*-
%% vim: set ft=erlang :
{lib_dirs,["deps"]}.
{deps, [
        {ranch, "0.6.*",
         {git, "git://github.com/AgilityTeam/ranch.git", "master"}},
        {folsom, ".*",
         {git, "git://github.com/boundary/folsom"  , "master"}},
        {lager, ".*",
         {git, "git://github.com/basho/lager.git"  , "master"}},
        {qdate, ".*",
         {git, "git://github.com/choptastic/qdate.git", "master"}}
       ]}.
{erl_opts,
 [
  {i, "apps"},
  bin_opt_info,
  %%native,
  %%fail_on_warning,
  %%warn_missing_spec,
  debug_info,
  {parse_transform, lager_transform}
 ]
}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{eunit_opts, [verbose,
              {report, {eunit_surefire, [{dir, "."}]}}]}.
{sub_dirs, ["apps/agilitycache", "apps/agilitycache_plugins", "rel"]}.

%% Behaviours:
{erl_first_files, ["apps/agilitycache/src/agilitycache_cache_plugin.erl"]}.
