{cover_enabled, true}.
{lib_dirs,["deps"]}.
{deps, [
	{cowboy, "0.3.*",
	 {git, "git://github.com/extend/cowboy.git", "HEAD"}}
       ]}.
{erl_opts, 
 [{i, "include"},
  bin_opt_info,
  native,
  %%fail_on_warning,
  warn_missing_spec,
  debug_info]}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{eunit_opts, [verbose,
	      {report, {eunit_surefire, [{dir, "."}]}}]}.
{sub_dirs, ["apps/agilitycache", "rel"]}.

